# Virtual Environments
venv/
venv_win/
env/
.env

# Python compilation junk
__pycache__/
*.pyc

# Large Data/Logs
wandb/
*.log
*.tar
*.gz

# IDE settings
.idea/
.vscode/

Dockerfile
../.idea/

